html, 
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
  box-sizing: inherit;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

#table {
  display: flex;
  flex-direction: column;
  border: 10px solid brown;
  background-color: green;
  border-radius: 5px;
  padding: 10px;
  height: 90%;
  width: 80%;
  margin-top: 20px;
}

#messages {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid goldenrod;
  border-radius: 5px;
  color: goldenrod;
  font-size: 40px;
  font-family: Garamond;
  margin-bottom: 10px;
  height: 8%;
}

#dealer-hand {
  border: 3px solid black;
  border-radius: 5px;
  display: flex;
  height: 40%;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#player-hand {
  border: 3px solid black;
  border-radius: 5px;
  display: flex;
  height: 40%;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.buttons {
  border: 3px solid gold;
  display: flex;
  height: 5%;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  margin-top: 10px;
}

#deal-button,
#hit-button,
#stand-button,
#dd-button,
#bet-button {
  display: flex;
  align-items: center;
  /* padding-bottom: 20px; */
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 5px;
  color: red;
  border: 1px solid gold;
  height: 80%;
  font-size: 20px;
}

#deal-button:hover,
#hit-button:hover,
#stand-button:hover,
#dd-button:hover,
#bet-button {
  cursor: pointer;
}

/* #bet-button {
  flex: 2;
} */

label {
  display: flex;
}

.player-label,
.dealer-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  color: goldenrod;
  /* border-radius: 5px;
  border: 1px solid red; */
}

.player-label {
  justify-content: space-evenly;
}

#player-points, 
#dealer-points,
#player-money,
#player-bet {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: 10px;
}

#player-bet {
  border: 1px solid gold;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 22px;
  color: goldenrod;
}

img {
  display: flex;
  width: 10%;
  height: 60%;
}